<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
			<Component Id="CANopenTermExe" Guid="1d24bc86-fbc3-4339-b331-03db3e821bef">
				<File Id="CANopenTermExeFile" Source="../../export/CANopenTerm.exe" KeyPath="yes"/>
			</Component>

			<Component Id="CANopenTermStartMenuShortcut" Guid="f3b2d3c8-3f5b-5f8b-ad3c-2b3c4d5e6f7a">
				<Shortcut Id="CANopenTermStartMenuShortcut"
						  Name="CANopenTerm"
						  Description="CANopenTerm Application"
						  Directory="ProgramMenuCANopenTermFolder"
						  Target="[INSTALLFOLDER]CANopenTerm.exe"
						  WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveStartMenuFolder" Directory="ProgramMenuCANopenTermFolder" On="uninstall"/>
				<RegistryValue Root="HKCU"
							   Key="Software\CANopenTerm"
							   Name="startMenuShortcut"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component>
				<File Source="../../export/CANusbM.dll" />
			</Component>
			<Component>
				<File Source="../../export/canchd_64.dll" />
			</Component>
			<Component>
				<File Source="../../export/canL2_64.dll" />
			</Component>
			<Component>
				<File Source="../../export/canlib32.dll" />
			</Component>
			<Component>
				<File Source="../../export/CANvenient.dll" />
			</Component>
			<Component>
				<File Source="../../export/cjson.dll" />
			</Component>
			<Component>
				<File Source="../../export/PCANBasic.dll" />
			</Component>
			<Component>
				<File Source="../../export/pocketpy.dll" />
			</Component>
			<Component>
				<File Source="../../export/SDL3.dll" />
			</Component>
			<Component>
				<File Source="../../export/vcruntime140.dll" />
			</Component>
			<Component>
				<File Source="../../export/vcruntime140_threads.dll" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="CodbComponents" Directory="CODBFOLDER">
			<Component>
				<File Source="../../export/codb/codb.schema.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds301.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds302.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds401.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds402.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds404.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds406.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds408.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds410.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds413.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds415.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds416.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds417.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds418.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds419.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds443.json" />
			</Component>
			<Component>
				<File Source="../../export/codb/ds447.json" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="DbcComponents" Directory="DBCFOLDER">
			<Component>
				<File Source="../../export/dbc/j1939.dbc" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="EdsComponents" Directory="EDSFOLDER">
			<Component>
				<File Source="../../export/eds/DS301_profile.eds" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ScriptsComponents" Directory="SCRIPTSFOLDER">
			<Component>
				<File Source="../../export/scripts/dashboard.lua" />
			</Component>
			<Component>
				<File Source="../../export/scripts/fuzz.lua" />
			</Component>
			<Component>
				<File Source="../../export/scripts/replay.lua" />
			</Component>
			<Component>
				<File Source="../../export/scripts/stm32.lua" />
			</Component>
			<Component>
				<File Source="../../export/scripts/trace.lua" />
			</Component>
			<Component>
				<File Source="../../export/scripts/uds.lua" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="CoreComponents" Directory="COREFOLDER">
			<Component>
				<File Source="../../export/scripts/core/init.lua" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="Obd2Components" Directory="OBD2FOLDER">
			<Component>
				<File Source="../../export/scripts/obd2/init.lua" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
