<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="CANopenTerm" Manufacturer="Michael Fitzmayer" Version="$(var.ProductVersion)" UpgradeCode="$(var.UpgradeCode)">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Main">
            <ComponentGroupRef Id="MainComponents" />
            <ComponentGroupRef Id="DbcComponents" />
            <ComponentGroupRef Id="EdsComponents" />
            <ComponentGroupRef Id="LuaComponents" />
            <ComponentGroupRef Id="ScriptsComponents" />
        </Feature>

        <ui:WixUI
            Id="WixUI_InstallDir"
            InstallDirectory="INSTALLFOLDER"
        />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\!(loc.LicenseRtf)" />

        <WixVariable
            Id="WixUIBannerBmp"
            Value="WixUIBannerBmp.png"
        />

        <WixVariable
            Id="WixUIDialogBmp"
            Value="WixUIDialogBmp.png"
        />

        <Icon Id="icon.ico" SourceFile="../../src/icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <Upgrade Id="$(var.UpgradeCode)">
            <!-- Detect older product versions -->
            <UpgradeVersion OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="yes" Minimum="1.0.0" Maximum="1.0.6" Property="PREVIOUSVERSIONSINSTALLED"/>
        </Upgrade>

    </Package>
</Wix>
