<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="CANopenTerm" Manufacturer="Michael Fitzmayer" Version="1.0.5" UpgradeCode="4fe8d03a-6f50-4887-a724-66992deef6f8">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Main">
            <ComponentGroupRef Id="MainComponents" />
            <ComponentGroupRef Id="DbcComponents" />
            <ComponentGroupRef Id="LuaComponents" />
            <ComponentGroupRef Id="ScriptsComponents" />
        </Feature>

        <ui:WixUI
            Id="WixUI_InstallDir"
            InstallDirectory="INSTALLFOLDER"
        />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\!(loc.LicenseRtf)" />

        <WixVariable
            Id="WixUIBannerBmp"
            Value="WixUIBannerBmp.png"
        />

        <WixVariable
            Id="WixUIDialogBmp"
            Value="WixUIDialogBmp.png"
        />

        <Icon Id="icon.ico" SourceFile="icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    </Package>
</Wix>
